*{
  list-style: none;
}
html{
  font-size: 625%;
}
body{
  font-size: 0.12rem;
}
.text-center{
  text-align: center!important;
}
.clear:after{
	clear:both;
	display:block;
	content:"\20";
	height:0;
	visibility:hidden;
}
.clear{
	zoom:1;
	_line-height:0;
}
.pull-left{
  float: left!important;
}
.pull-right{
  float: right!important;
}
.color-red{
  color: red!important;
}
.padding10{
  padding: 0.1rem!important;
}
.pr10{
  padding-right: 0.1rem!important;
}
.mt20{
  margin-top: 0.2rem!important;
}
.mr2{
  margin-right: 0.02rem!important;
}
.mr20{
  margin-right: 0.2rem!important;
}
.mr100{
  margin-right: 1rem!important;
}
.positionR{
  position: relative!important;
}
.bg-white{
  background-color: #ffffff!important;
}
.line{
  height: 1px;
  background-color: #dddddd;
}
.ivu-menu{
  min-height: 100%;
}
.tip-text{
  font-size: 12px;
  color: #9ea7b4;
}
.table-search-con{
  margin: 5px 10px;
  zoom:1;
  _line-height:0;
}
.table-search-con::after{
  clear:both;
  display:block;
	content:"\20";
	height:0;
	visibility:hidden;
}
.table-search-con button{
  margin-right: 5px;
}
.table-search-title{
  font-weight: bold;
  line-height: 32px;
}
.page-con{
  margin: 10px;
  text-align: right;
}
.main-con{
  width: 100%;
  height: 100%;
}
.left-menu-con{
  overflow: auto;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  transition: width 0.3s;
}
.right-top-con{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  transition: width 0.3s;
  z-index: 10;
}
.tags-con{
  overflow: hidden;
  height: 40px;
  padding-left: 10px;
}
.single-page-con{
  position: absolute;
  top: 92px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 20px;
  overflow: auto;
}
// 头部
.header{
  padding: 5px 15px;
  background-color: #ffffff;
  position: relative;
  z-index: 10;
}
.header-menu-icon{
  margin-right: 20px;
}
.header-title{
  font-size: 20px;
  font-weight: 600;
}
.header-icon{
  height: 40px;
  vertical-align: middle;
}
.header-menu-icon{
  padding: 5px;
}
.ivu-tag-blue{
  line-height: 32px;
}
.user-dropdown-menu-con{
  position: absolute;
  top: 0;
  right: 15px;
  padding: 15px 0;
  display: inline-block;
}
// 开发表单
.form-step-con{
  background-color: #ffffff;
  padding: 5px 50px;
  margin-bottom: 10px;
}
.add-field-con{
  padding: 20px;
  min-height: 200px;
  max-height: 500px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-left: 20px;
  overflow-y: auto;
  .ivu-form-item label, .ivu-form-item input, .ivu-form-item .ivu-select-placeholder, .ivu-form-item textarea, .ivu-form-item .ivu-switch, .ivu-form-item .ivu-table-tip{
    cursor: move;
  }
}
.controls-con{
  margin-right: 20%;
  .ivu-form-item, .ivu-form-item label, .ivu-form-item input, .ivu-form-item .ivu-select-placeholder, .ivu-form-item textarea, .ivu-form-item .ivu-switch{
    cursor: move;
  }
}
.modal-field-con{
  padding-right: 30px;
}
.modal-field-tips{
  margin-left: 5px;
  color: #999999;
}
.ivu-table-cell{
  padding: 0;
}
.ivu-form-item{
  min-height: 33px;
}
.ivu-modal-body{
  overflow: auto;
}
.modal-field-2{
  min-height: 300px;
  .ivu-form-item{
    float: left;
    width: 50%;
  }
}
.form-column-1{
  width: 50%;
  margin-left: 25%;
}
@media screen and (max-width: 992px) {
  .form-column-1{
    width: 100%;
    margin-left: 0;
  }
}
.form-column-2{
  .ivu-form-item{
    display: inline-block;
    width: 50%;
  }
}
.form-column-3{
  .ivu-form-item{
    display: inline-block;
    width: 33.33%;
  }
}
.form-column-4{
  .ivu-form-item{
    display: inline-block;
    width: 25%;
  }
}
.whole-line-703, .whole-line-tablebox, .whole-line-filebox{
  width: 100%!important;
}
// 表单数据
.form-con{
  padding: 20px;
}
.button-con{
  margin: 15px 0;
  text-align: center;
}
body .ivu-modal .ivu-select-dropdown, body .notify-iframe .ivu-select-dropdown{
  left: auto!important;
  top: auto!important;
}
.fileList{
  padding: 20px 20px;
  li{
    margin-bottom: 5px;
  }
}
.ivu-form-inline .ivu-form-item .ivu-form-item-content{
  display: inline-block;
}
.ivu-timeline-item-content label{
  font-weight: 600;
  margin-right: 5px;
}
// 附件管理
.img-view-con{
  background: rgba(0,0,0,0.3);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  a{
    position: absolute;
    top: 5px;
    right: 10px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.6);
    font-size: 30px;
    color: #ffffff;
    z-index: 101;
  }
  img{
    max-width: 100%;
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
// 工作台设置
.config-con{
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 17%;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  a{
    color: #ffffff;
    i{
      font-size: 0.3rem;
    }
  }
}
.config-con-chart{
  padding-top: 20px;
  padding-right: 20px;
  text-align: right;
}
